@model AuthorCreateVM
@{
    ViewData["Title"] = "Create";
}



<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
                <h2 class="text-white">Author Info</h2>

				<div class="main__title">
                    <li class="sidebar__nav-item">
                        <a asp-action="Index" asp-controller="Author" class="sidebar__nav-link "><i class="ti ti-arrow-left"></i> <span>Go Back</span></a>
                    </li>
				</div>
			</div>
			<!-- end main title -->
			<!-- form -->
            <form enctype="multipart/form-data" method="post">

                <div class="form-group">
                    <input asp-for="AuthorName" type="text" class="sign__input" placeholder="Fulname">
                    <span asp-for="AuthorName" class="text-danger" asp-validation-for="AuthorName"></span>
                </div>
                
                <div class="form-group">
                    <label class="text-white" asp-for="File">File</label>
                    <input class="form-control" asp-for="File" style="color: white; background-color: #1a191f;">
                    <span class="text-danger" asp-validation-for="File"></span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" style="margin-top: 20px">Submit</button>
                </div>
            </form>

			<!-- end form -->
		</div>
	</div>
</main>
<!-- end main content -->
