@model Blog
<!-- Breadcumb Section Start -->
<div class="breadcrumb-wrapper">
    <div class="book1">
        <img src="assets/img/hero/book1.png" alt="book">
    </div>
    <div class="book2">
        <img src="assets/img/hero/book2.png" alt="book">
    </div>
    <div class="container">
        <div class="page-heading">
            <h1>Blog Details</h1>
            <div class="page-header">
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        Blog Details
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- News Details Section Start -->
<section class="news-details fix section-padding">
    <div class="container">
        <div class="news-details-area">
            <div class="row g-5">
                <div class="col-xl-9 col-lg-8">
                    <div class="blog-post-details">
                        <div class="single-blog-post">
                            <div class="post-featured-thumb bg-cover">
                            <img src="@Url.Content(Model.ImageUrl)" style="width:900px; height:400px" />
                            <div class="post-content" id="blog">
                                <ul class="post-list d-flex align-items-center">
                                    <li>
                                        <i class="fa-light fa-user"></i>
                                        By Admin
                                    </li>
                                   
                                    <li>
                                        <i class="fa-light fa-tag"></i>
                                        Bookle
                                    </li>
                                </ul>
                                <h3>@Model.Title </h3>
                                <p class="mb-3" style="padding-bottom:50px">
                                   @Model.Content
                                </p>
                                </svg>
                                </div>

                            
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    #blog
    {
    margin-bottom: 70px !important;
    }

  
</style>