@model List<WishlistCookieItemVM>

<!-- Breadcumb Section Start -->
<div class="breadcrumb-wrapper">
    <div class="book1">
        <img src="~/assets/img/hero/book1.png" alt="book">
    </div>
    <div class="book2">
        <img src="~/assets/img/hero/book2.png" alt="book">
    </div>
    <div class="container">
        <div class="page-heading">
            <h1>Wishlist</h1>
            <div class="page-header">
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        Wishlist
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Shop Cart Section Start -->
<div class="cart-section section-padding">
    <div class="container">
        <div class="main-cart-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Book</th>
                                    <th>Author</th>

                                </tr>
                            </thead>
                            <tbody>
                               @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <span class="d-flex gap-5 align-items-center">
                                                <a href="wishlist.html" class="remove-icon">
@*                                                      <img src="~/imgs/books/@item.Book.CoverImageUrl" width="50" />
 *@                                                </a>
                                                <span class="cart">
                                                    <img src="~/assets/img/shop-cart/01.png" alt="img">
                                                </span>
                                                <span class="cart-title">
                                                    @item.Title
                                                </span>
                                            </span>
                                        </td>                                    
                                    </tr>
                                }                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
