@model List<Wishlist>

<h2>My Wishlist</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            asp-action="Index" asp-controller="Home"
            @item.Book.Title
            <a asp-action="RemoveFromWishlist" asp-route-bookId="@item.BookId">Remove</a>
        </li>
    }
</ul>
